<!DOCTYPE html>
<html>
<head>
	<title>AI Reception</title>

	<script type="text/javascript" src="//vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=7194134&js=1"></script>
<script type="text/javascript">AC_VHost_Embed(7194134,300, 400, '', 1, 1, 2665104, 0, 1, 0, '2e4866c40a142b54319edbaf40bf9de8', 0, '400|300|15|15|L|T|false|0|0|0|0|vhss.oddcast.com/ccs2/vhss/user/986/7194134/thumbs/show_509513.jpg|Double%20click%20to%20play%20me|0|C|0|0|0|879');</script>
<script type="text/javascript">
   function vh_sceneLoaded(){
      //the scene begins playing, add actions here
	sayText('good night',1,1,3);

}
</script>
</head>
<body>


       <div id='divVHSS'></div>
    <FORM NAME="myForm" class="form">
					Letting the user enter the text in a form:&nbsp;
					<input type="text" name="textToSay" value={{usertext}} size="20" class="form" oninput ="javascript:sayText(myForm.textToSay.value,1,1,3)" class="form">
						<!--<INPUT TYPE="button" VALUE="Say It!" NAME="SayButton" onClick="javascript:sayText(myForm.textToSay.value,1,1,3)" class="form">-->
						</form>




</body>
</html>
